.team-slide {
  margin-bottom: 70px;

  .team-btn {
    width: 20px;
   height: 20px;
    border-radius: 50%;
    background-color: blue;
  }

  .team-item {
    background: #F5F5FA;
    border-radius: 12px;

        .team-photo {
          width: 30%;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .team-text {
          width: 70%;
          padding-left: 70px;
          padding-top: 60px;

              h3 {
                @include text(42px, 50px, $dominant-color, bold);
              }

              .name {
                @include text(18px, 21px, $slide-text-color, normal);
              }

              .position {
                @include text(16px, 22px, $slide-text-color, normal);
              }
           }

        }
    }

