$main-bg-color: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$header-top: 50px;
$header-height: 89px;
$banner-top-offset: $header-top + $header-height;
$main-text-color: #FFFFFF;
$dominant-color: #F0145A;
$dominant-blue-color: #24A3FF;
$tabs-color: #B3B3BA;
$slide-text-color: #B3B3BA;
$block-bg-color: #F5F5FA;
$h-colors: #323264;
$p-color: #000000;
$border-color: #E6E6F0;

$clients-bg: #1C4280, #143646, #F48B30, #9E4DC3, #FD9339, #E2E2E4, #C71C36, #DCF3F9, #EAEAEA, #282240, #1D4568, #000000;

