.our-team {
  margin-bottom: 80px;

  .team-container {
    background-image: url("./../images/Photo1000.svg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 438px;
  }

}