 .experience {

  .exp-tab {
    padding: 80px 0;
  }

  .tab-item {


    .link-btn {
      @include text(42px, 50px, $tabs-color, normal);
      background-color: transparent;
      border: none;
      text-align: right;
      padding-bottom: 20px;
      padding-right: 40px;
      border-right: 3px solid $main-text-color;

      &:focus {
        color: $dominant-color;
        border-right: 3px solid $dominant-color;
      }

      }
    }
    .tab-item2 {
        h3 {
          @include text(32px, 38px, $main-text-color, normal);
          max-width: 700px;
          padding-bottom: 30px;
        }

        p {
          @include text(21px, 30px, $main-text-color, normal);
          max-width: 700px;
        }
  }
.experience-carousel {

  .exp-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: -40px;
  }

  .h2-carousel {
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    @extend %t-transform;
    color: $dominant-color;
  }

  .h3-carousel {
    @include text(32px, 38px, $main-text-color, normal);
  }

  .p-carousel {
    @include text(21px, 30px, $main-text-color, normal);
  }
}

}